xdg-config/fish/
!xdg-config/fish/functions
!xdg-config/fish/config.fish

vim/plugged
vim/ftplugin
vim/autoload/*
!vim/autoload/plug.vim
xdg-config/nvim/nvim

xdg-config/nvim/autoload/plug.vim.old

home/gnupg/*
!home/gnupg/gpg-agent.conf
bin
